<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="SchoolName" value="De-Shalit"/>
    <add key="School.LunchBreakPeriod" value="00:05:00"/>
    <add key="Students" value="['Jackob','Joe','James']"/>
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2"/></startup></configuration>
