<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.Azure.KeyVault.AzureServiceDeploy" version="2.0.0" targetFramework="net462" />
  <package id="Microsoft.Azure.KeyVault.Core" version="2.0.4" targetFramework="net462" />
  <package id="Microsoft.Azure.KeyVault.Cryptography" version="2.0.5" targetFramework="net462" />
  <package id="Microsoft.Azure.KeyVault.Jose" version="2.0.0" targetFramework="net462" />
  <package id="Newtonsoft.Json" version="6.0.8" targetFramework="net462" />
</packages>